@font-face {
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
    font-family: worksans;
}
body{
    font-family: worksans;
    font-weight: 500;
    font-size: 13px;
   position: relative;
}
.dspl-flx-jstf-spc-rnd{
    display: flex;
    justify-content: space-around;
}
.dspl-flx-jstf-flx-strt{
    display: flex;
    justify-content: flex-start;
}
.dspl-flx-jstf-spc-btwn{
  display: flex;
  justify-content: space-between;
}
