$primary:  rgb(86, 178, 250);
$secondary: rgba(61, 81, 97, .6);

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary
);

body {
  .button {
    padding: 10px 45px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    color: #fff;

    &:disabled{
      color: #fff;
    }
  }
}
