<section id="about_us" class="eclipse">
    <div class="wrapper">
      <h3 class="title">{{ aboutUsText.title.toUpperCase() }}</h3>
      <div class="container">
        <ul class="row">
          <li class="col-md-4 col-sm-6 col-12" *ngFor="let item of aboutUsText.blocks">
            <div data-aos="fade-zoom-in" class="card">
              <img class="card-img-top" src="{{item.icon}}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{item.text}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
