#header {
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    background-color: white;
    top: 0;
    z-index:999;

    img {
        height: 110px;
    }

    .language {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      color: var(--blue);
      vertical-align: middle;
      margin-bottom: 0;
      font-size: 16px;

      li {
        margin: 0 5px;
        &:hover{
            cursor: pointer;
        }
      }

      .active_language {
        border-bottom: 2px solid var(--blue);
      }
    }

  #navbar {
    display: flex;
    justify-content: flex-end;

    a {
      color: #000;
      font-size: 16px;
      font-weight: 400;
    }

    .active {
      background-color: transparent;
      font-weight: 600;
      border-radius: 0;
      //color: var(--blue);
      border-bottom: 2px solid var(--blue);
    }
  }
}
