#modal {
  margin-top: 10%;

  .modal-content {
    width: 110%;
  }

  .modal-body {
    padding: 50px 25px;

    .title {
      text-align: center;
      font-weight: 600;
      margin-bottom: 30px;
    }


    .container{
      .form-control{
        border: none;
        outline: none;
        border-bottom: 2px solid var(--blue);
      }

      .text-muted {
        color: red !important;
      }

      label {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 7px;
      }

      .button {
        margin-top: 25px;
      }
    }
  }
}

