:root{
    box-shadow: 2px 2px 2px grey;
}
.container{
    
    .titleText{
          text-align: center;
      }
        .form-control{
        border: none;
        outline: none;
        border-bottom: 2px solid var(--blue);
        
        
    }
    #help, #help1, #help2, .text-muted {
        color: red !important;
    }
    .oval{
        margin-top: 50px;
        width: 200px;
        height: 50px;
        border-radius: 100px 100px 100px 100px;
        border: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 100;
      }
      .btn-primary{
          background-color: var(--blue);
      }
}