#modal {
  .modal-content {
    width: 110%;
  }

  .modal-body {
    padding: 50px 25px;

    .title {
      text-align: center;
      font-weight: 600;
      margin-bottom: 30px;
    }


    .container {
      .form-control {
        border: none;
        outline: none;
        border-bottom: 2px solid var(--primary);
      }

      .text-muted {
        color: red !important;
      }

      label {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 7px;
      }

      .button {
        margin-top: 25px;
      }
    }
  }

  textarea {
    resize: none;
  }
}

@media screen and (max-width: 1400px) {
  #modal {
    margin-top: 0%;

    .modal-body {
      padding: 30px 25px;
    }
  }
}

@media screen and (max-width: 640px) {
  #modal .modal-content {
    width: 102%;
  }
}

@media screen and (max-width: 550px) {
  #modal {
    .dspl-flx-jstf-spc-btwn {
      flex-direction: column;
    }
  }
}
