.eclipse{
	width: 100%;
	height: calc(100vh - 80px);
	background-color: rgba(86, 178, 250, .3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.mission{

  .h_class {
    color: #c2185b;
  }
  height: 200px;
  color: #ffffff;
  text-shadow: 1px 1px 1px grey;
  font-weight: 100;
  font-size: 27px;
	h2{
		color: white;
		font-size: 45px;
		text-shadow: 1px 1px 1px grey;
	}
	h3{
		text-shadow: 1px 1px 1px grey;
		color: white;
		font-size: 45px;
		font-weight: 100;
	}
	
	span, h1{
		text-shadow: 2px 2px 2px grey;
		color: white;
		font-size: 27px;
		font-weight: 100;
		}
	}
	.purposes{
      width: 100%;
	  height: calc(100vh - 85px);
      background-color: white;
      padding-top: 50px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-around;

		h3{
			color: black;
			font-size: 45px;
			text-shadow: 1px 1px 1px grey;
		}
		
		.purposeWrap, .purposeWrap2{
			width: 30vw;
			min-width: 300px;
			height: 200px;
			background-color: goldenrod;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;

			.border2{
				width: calc(30vw - 40px);
				min-width: 280px;
				height: 160px;
				border: 1px solid white;
				padding: 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				span{
					font-size: 17px;
					color: white
				}
			}
		}
		.purposeWrap2{
			background-color: white;
			border: 2px solid goldenrod;


			.border2{
				border: 2px solid goldenrod;

				span{
					color: goldenrod;
				}
			}
		}
	}