    <div class="eclipse">
      <section class="mission container" data-aos="flip-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="3000">
        <div class="row" [innerHTML]="content.bannerText.mission"></div>
      </section>
    </div>
    <div class="purposes">
      <div class="container">
        <div class="row">
          <div class="purposeWrap col-5" *ngFor="let block of content.goalsText.blocks" data-aos="fade-right"
            data-aos-duration="1000" data-aos-delay="100">
            <div class="border">
              <span>{{block}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
