#purposes {
  padding: 100px 0;
  background-color: #fff;

  ul {
    font-size: 24px;
    font-weight: 600;

    li:first-child {
      margin-top: 25px;
    }

    li {
      font-size: 20px;
      font-weight: 200;
      margin-top: 15px;
      margin-left: 20px;
    }

    li ::ng-deep span {
      border-bottom: 2px solid var(--blue);
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 380px) {
  #purposes {
    li {
      font-size: 17px;
    }
  }
}
