#banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #fff 50%, transparent 100%);


  .imgWrapper {
    position: absolute;
    top: 0;
    left: 50%;

    .img {
      background-image: url('/assets/images/banner.jpg');
      background-size: cover;
      position: fixed;
      transition-property: top;
      width: 50vw;
      height: 50vh;
      object-fit: cover;
      z-index: -1;
    }
  }

  .mission {
    height: 50vh;
    font-size: 18px;

    .row {
      height: 100%;
      margin-top: -36px;

      ::ng-deep h2 {
        font-weight: 600;
      }
    }
  }

  .mission ::ng-deep h2 {
    font-weight: 600;
    font-size: 55px;
  }
  .mission ::ng-deep span {
    font-size: 20px;
  }
  .oval{
    margin-top: -15px;
    border-radius: 100px 100px 100px 100px;
    background-color: var(--blue);
    border: none;
  }
}
