<section id="banner">
    <div class="imgWrapper">
        <div class="img" src="/assets/images/banner.jpg" alt="mainPicture" #picture></div>
    </div>
    <div class="mission container" id="mission">
        <div class="row align-items-center" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-7 col-sm-9" [innerHTML]="content.mission"></div>
            <div class="col-md-5 col-sm-3"></div>
            <div class="col">
                <button class="btn btn-primary btn-lg button button_primary" type="button" data-toggle="modal" data-target="#modal">{{content.bannerButton}}</button>
            </div>
        </div>
    </div>
</section>
<app-modal></app-modal>
