#banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fff 50%, transparent 100%);


  .imgWrapper {
    position: absolute;
    top: 0;
    left: 50%;

    .img {
      background-image: url('/assets/images/banner.jpg');
      background-size: cover;
      position: fixed;
      transition-property: top;
      width: 50vw;
      height: 50vh;
      object-fit: cover;
      z-index: -1;
    }
  }

  .mission {
    height: 50vh;
    font-size: 18px;

    .row {
      height: 100%;

      ::ng-deep h2 {
        font-weight: 600;
      }
    }
  }

  .button_primary {
    margin-top: -55px;
  }

  .mission ::ng-deep h2 {
    font-weight: 600;
    font-size: 55px;
  }

  .mission ::ng-deep span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1400px) {
  #banner {
    .button_primary {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 762px) {
  #banner {
    height: 400px;

    .imgWrapper {
      top: 70px;

      .img {
        margin-top: -100px;
        height: 74vh;
      }
    }

    .button_primary {
      margin-top: 24px;
    }
  }
}
@media screen and (max-width: 540px) {
  #banner {
    .row {
      ::ng-deep h2{
        font-size: 46px;
      }
    }
  }
}

@media screen and (max-width: 437px) {
  #banner {
    .row {
      ::ng-deep h2{
        font-size: 39px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  #banner {
    .row {
      ::ng-deep h2{
        font-size: 30px;
      }
    }
  .mission ::ng-deep span {
      font-size: 16px;
    }
  }
}
