#banner {
  padding-top: 110px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fff 50%, transparent 100%);

  .imgWrapper {
    left: 50%;
    margin-top: 110px;

    .img {
      background-image: url('/assets/images/banner.jpg');

      min-height: 400px;
    }
  }

  .mission {
    height: 50vh;
    min-height: 400px;

    .row {
      height: 100%;

      ::ng-deep h2 {
        font-weight: 600;
      }
    }
  }

  .button_primary {
    margin-top: -55px;
  }

  .mission ::ng-deep h2 {
    font-weight: 600;
    font-size: 55px;
  }

  .mission ::ng-deep span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #banner {
    .mission {
        ::ng-deep h2 {
          font-size: 50px;
        }
      }
  }
}

@media screen and (max-width: 768px) {
  #banner {
    padding-top: 90px;


    .imgWrapper {
      margin-top: 90px;
    }

    .mission {
      ::ng-deep h2 {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #banner {
    padding-top: 10px;

    .imgWrapper {
      margin-top: 10px;
    }

    .mission {
      ::ng-deep h2 {
        font-size: 34px;
      }
    }
  }
}
