figure {
  background-color: rgb(104, 95, 95);

  img {
    position: fixed;
    top: 85px;
    transition-property: top;
    width: 100vw;
    height: calc(100vh - 85px);
    object-fit: cover;
    z-index: -1;
  }
}

.mainContainer {
  top: 85px;
  width: 100%;
}
